In [9]:
import pandas as pd
import numpy as np

In [10]:
#read large_eve.json and create a dataframe
df = pd.read_json('large_eve.json', lines=True)
df

In [ ]:
df.to_csv('large_eve.csv', index=False)

In [ ]:
#show all columns of df
df.columns

Index(['timestamp', 'flow_id', 'pcap_cnt', 'event_type', 'vlan', 'src_ip',
       'src_port', 'dest_ip', 'dest_port', 'proto', 'alert', 'ssh', 'dns',
       'tx_id', 'http', 'app_proto', 'fileinfo', 'tls', 'vars', 'flow',
       'icmp_type', 'icmp_code', 'tcp', 'smtp', 'email', 'app_proto_tc',
       'app_proto_ts', 'stats'],
      dtype='object')

In [ ]:
df['proto'].unique()

array(['TCP', 'UDP', 'IPv6-ICMP', nan], dtype=object)

In [8]:
df_dns=df[df['dns'].notna()]
df_dns

NameError: name 'df' is not defined

In [ ]:
df_dns.head(2)

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,...,vars,flow,icmp_type,icmp_code,tcp,smtp,email,app_proto_tc,app_proto_ts,stats
2,2017-07-22T17:33:16.661646-0500,1.327836e+15,22269.0,dns,110.0,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680.0,2001:0500:0001:0000:0000:0000:803f:0235,53.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2017-07-22T17:33:24.990320-0500,2.022925e+15,54352.0,dns,110.0,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051.0,2001:0500:0003:0000:0000:0000:0000:0042,53.0,UDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

#filter DGA in DNS 
df_dns_dga= pd.json_normalize(df_dns['dns'])
df_dns_dga

,type,id,rrname,rrtype,tx_id,rcode,ttl,rdata
0,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN
1,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN
2,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
3,answer,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,NaN,NaN,NXDOMAIN,NaN,NaN
4,answer,54724,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN
...,...,...,...,...,...,...,...,...
15744,answer,33107,en-us.start3.mozilla.com,NaN,NaN,NXDOMAIN,NaN,NaN
15745,answer,33107,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN
15746,query,35892,whitecell.localdomain,AAAA,0.0,NaN,NaN,NaN
15747,answer,35892,whitecell.localdomain,NaN,NaN,NXDOMAIN,NaN,NaN
15748,answer,35892,<root>,SOA,NaN,NXDOMAIN,20864.0,NaN

In [ ]:
df_dns_a=df_dns_dga[df_dns_dga['rrtype']=='A']
df_dns_a

,type,id,rrname,rrtype,tx_id,rcode,ttl,rdata
0,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN
1,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN
2,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
5,query,45082,api.wunderground.com,A,0.0,NaN,NaN,NaN
6,query,7425,safebrowsing.clients.google.com.home,A,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
15713,query,15886,secure.informaction.com.hsd1.pa.comcast.net,A,0.0,NaN,NaN,NaN
15716,query,33079,192.168.22.201:.stayonline.net,A,0.0,NaN,NaN,NaN
15725,query,13068,wpad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
15737,query,59436,client-software.real.com,A,0.0,NaN,NaN,NaN
15743,query,33107,en-us.start3.mozilla.com,A,0.0,NaN,NaN,NaN

In [ ]:
df_unicos=df_dns_a.drop_duplicates(subset=['rrname'])
df_unicos

NameError: name 'df_dns_a' is not defined

In [ ]:
from flare.data_science.features import domain_tld_extract

ModuleNotFoundError: No module named 'flare.data_science'